// Colors
$white: #ffffff;
$black: #000000;
$dark-grey: #424242;
$light-blue: #ccddff;
$grey: #b2cecf;
$pink: #d02552;
$green: #50d07d;
$ocean: #07575B;

$primary-background-color: $grey;
$primary-color: $green;