// Colors
$white: #ffffff;
$black: #000000;
$dark-grey: #424242;
$light-grey: #b2cecf;
$light-blue: #ccddff;
$blue: #3b5998;
$bright-blue: #39aade;
$dark-blue: #293e6a;
$ocean: #07575B;
$pink: #d02552;
$google-color: #df4b37;
$green: #50d07d;
$yellow: #eda73b;
$red: #f22a1d;

$primary-background-color: $blue;
$primary-color: $green;

// Paddings
$default-padding: 10px;

// Card variables
$default-card-width: 250px;